In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser

In [2]:
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [3]:
story_titles = soup.find('div', class_="content_title")
story_titles.text.strip()

'NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities'

In [4]:
story_paragraph = soup.find('div',class_='rollover_description_inner')
story_paragraph.text.strip()

'Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.'

In [5]:
news_title = 'NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities'
news_p = 'Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.'

In [6]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [7]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
browser.visit(url2)

In [9]:
html = browser.html
soup2 = BeautifulSoup(html, 'html.parser')

In [10]:
browser.click_link_by_partial_text('FULL IMAGE')

C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [11]:
mars_image = soup2.find('img',class_='thumb')
mars_image_url = 'https://www.jpl.nasa.gov' + mars_image['src']
mars_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24247-640x350.jpg'

In [12]:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24247-640x350.jpg'

In [13]:
url3 = 'https://space-facts.com/mars/'

In [14]:
table = pd.read_html(url3)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
html_table = table[0].to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [16]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [17]:
url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url4)
browser.click_link_by_partial_text('Hemisphere')
browser.click_link_by_partial_text('Sample')

C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [19]:
for x in range(4):
    
    html2 = browser.html
    
    soup = BeautifulSoup(html2, 'html.parser')
    images = soup.find_all('img', class_='thumb')
    
    index = 0
    limit = 4
    
    browser.back()
    browser.find_link_by_partial_text('Hemisphere')[x].click()
    browser.click_link_by_partial_text('Sample')
    
    hemisphere_urls = []

    for image in images:
        src = image['src']
        hemisphere_urls.append(f'https://astrogeology.usgs.gov{src}')
        index += 1
        if index == limit:
            break
hemisphere_urls

['https://astrogeology.usgs.gov/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov/cache/images/f789a481f60deaf01996343999491211_valles_marineris_unenhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov/cache/images/79133220f6cb61a5a091ce8ecee3e554_syrtis_major_unenhanced.tif_thumb.png']